In [2]:
import pandas as pd

In [15]:
df = pd.read_csv('/Users/joepopop/Desktop/STAT 390/convert_MCMF_ALL_TIME_DATA.csv', sep = '\t')

/var/folders/s3/_qwxl0r151sdz0mvxwd477d40000gn/T/ipykernel_36336/4031343084.py:1: DtypeWarning: Columns (14,28,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/joepopop/Desktop/STAT 390/convert_MCMF_ALL_TIME_DATA.csv', sep = '\t')

In [8]:
# Discard programs with min age over 25
df = df.loc[df['Min Age'] <= 25]

# Record programs with max age over 25 as family programs
df['Family Program'] = (df['Max Age'] > 25).astype(bool)

In [16]:
# Make category names unique
category_dict = {'Building And Fixing Things': 'Building & Fixing Things', 
 'Computers.': 'Computers', 
 'Food.': 'Food',
 'Helping Your Community.': 'Helping Your Community',
 'Reading & Writing.': 'Reading & Writing',
 'Sports + Wellness.': 'Sports & Wellness',
 'Work + Career': 'Work & Career'
}

df['Category Name'] = df['Category Name'].replace(category_dict)
df['Category Name'].unique().tolist()

['Academic Support',
 'Work + Career ',
 'Music & Art.',
 'Managing Money.',
 'Helping Your Community',
 'Reading & Writing',
 'Sports & Wellness',
 'Computers',
 'Science ',
 'Building & Fixing Things',
 'Performance.',
 'Science & Math',
 'Food',
 'Math',
 'Digital Media.',
 'Nature.',
 'Healthcare',
 'Transportation',
 'Social Studies ',
 'Teaching',
 'Law',
 'Customer/Human Service',
 nan]

In [17]:
# Group category names by STEM
stem_categories = ['Computers', 'Science', 'Building & Fixing Things', 'Science & Math', 'Digital Media.', 'Nature.', 'Math']
df['STEM'] = df['Category Name'].isin(stem_categories)
df['STEM'] = df['STEM'].map({True: 'STEM', False: 'Non-STEM'})

In [12]:
# Group min and max age by quartile
df['Min Age Quartile'] = pd.cut(df['Min Age'], bins=[0, 10, 17, 99, 200], labels=['0-10', '11-17','18-99', '100-200'])
df['Max Age Quartile'] = pd.cut(df['Max Age'], bins=[0, 3, 6, 13, 25], labels=['0-3', '4-6', '7-13','14-25'])

In [45]:
pd.read_csv('/Users/joepopop/Desktop/STAT 390/chicago_population.csv', ';').T

/var/folders/s3/_qwxl0r151sdz0mvxwd477d40000gn/T/ipykernel_36336/1527798350.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  pd.read_csv('/Users/joepopop/Desktop/STAT 390/chicago_population.csv', ';').T

,0,1,2,3,4,5,6,7
Community Area,name,population,income,latinos,blacks,white,asian,other
1,Rogers Park,54991,39482,0.244,0.263,0.393,0.064,0.036
2,West Ridge,71942,47323,0.204,0.111,0.427,0.225,0.032
3,Uptown,56362,40324,0.142,0.2,0.516,0.114,0.028
4,Lincoln Square,39493,57749,0.191,0.038,0.631,0.111,0.029
...,...,...,...,...,...,...,...,...
73,Washington Heights,26493,42053,0.01,0.974,0.005,0,0.012
74,Mount Greenwood,19093,80505,0.072,0.052,0.86,0.007,0.01
75,Morgan Park,22544,56886,0.027,0.667,0.287,0.004,0.014
76,O'Hare,12756,49601,0.095,0.032,0.772,0.083,0.019
77,Edgewater,56521,43331,0.165,0.143,0.547,0.116,0.029