In [25]:
import pandas as pd
data = pd.read_csv('Merged_Dataset.csv')
data.drop(['Unnamed: 0', 'No.'], axis=1, inplace=True)

data = data.replace({'\$': ''}, regex=True)
data = data.replace({'\%': ''}, regex=True)
data = data.replace({'\,': ''}, regex=True)

data[['Percent of rowded Housing', 'Percent of Households With Income Below Poverty Level', 'Unemployment Rate for Population over 16',
     'Percent Aged 25 and Over with no High School Diploma', 'Percent of Population Under Age 18 and Over Age 64', 'Per Capita Income']] = data[['Percent of rowded Housing', 'Percent of Households With Income Below Poverty Level', 'Unemployment Rate for Population over 16',
     'Percent Aged 25 and Over with no High School Diploma', 'Percent of Population Under Age 18 and Over Age 64', 'Per Capita Income']].astype(float)

data.drop(['Average Latitude'], axis=1, inplace=True)

data


# Should we only use under 25 population?

,Geographic Cluster Name,Category Name,Meeting Type,Total Programs,Total Capacity,Average Max Age,Average Capacity,population,income,latinos,...,asian,other,Percent of rowded Housing,Percent of Households With Income Below Poverty Level,Unemployment Rate for Population over 16,Percent Aged 25 and Over with no High School Diploma,Percent of Population Under Age 18 and Over Age 64,Per Capita Income,Hardship Index Score,Capacity Per Capita
0,ALBANY PARK,Academic Support,face_to_face,14,210.0,7.928571,15.000000,51542,46198,0.494,...,0.144,0.029,6.4,12.6,6.6,19.3,31.7,32298.0,44.8,0.004074
1,ALBANY PARK,Building & Fixing Things,face_to_face,1,99.0,99.000000,99.000000,51542,46198,0.494,...,0.144,0.029,6.4,12.6,6.6,19.3,31.7,32298.0,44.8,0.001921
2,ALBANY PARK,Computers.,face_to_face,5,3930.0,18.600000,786.000000,51542,46198,0.494,...,0.144,0.029,6.4,12.6,6.6,19.3,31.7,32298.0,44.8,0.076248
3,ALBANY PARK,Healthcare,face_to_face,2,20.0,99.000000,10.000000,51542,46198,0.494,...,0.144,0.029,6.4,12.6,6.6,19.3,31.7,32298.0,44.8,0.000388
4,ALBANY PARK,Music & Art.,face_to_face,187,38557.0,51.443850,206.187166,51542,46198,0.494,...,0.144,0.029,6.4,12.6,6.6,19.3,31.7,32298.0,44.8,0.748070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,WOODLAWN,Science,face_to_face,4,1012.0,12.000000,253.000000,23740,27413,0.021,...,0.023,0.020,4.0,31.1,15.9,12.7,33.8,22457.0,53.1,0.042628
1561,WOODLAWN,Science,online,1,18.0,99.000000,18.000000,23740,27413,0.021,...,0.023,0.020,4.0,31.1,15.9,12.7,33.8,22457.0,53.1,0.000758
1562,WOODLAWN,Sports + Wellness.,face_to_face,281,4999.0,52.345196,17.790036,23740,27413,0.021,...,0.023,0.020,4.0,31.1,15.9,12.7,33.8,22457.0,53.1,0.210573
1563,WOODLAWN,Sports + Wellness.,online,23,332.0,55.869565,14.434783,23740,27413,0.021,...,0.023,0.020,4.0,31.1,15.9,12.7,33.8,22457.0,53.1,0.013985
1564,WOODLAWN,Work + Career,online,2,0.0,24.000000,0.000000,23740,27413,0.021,...,0.023,0.020,4.0,31.1,15.9,12.7,33.8,22457.0,53.1,0.000000

In [ ]:
# Predictors:
    # Neighborhood
        # Can aproximate with equity measurements 
    # Program Category
    # Modality
    
        # How could we use age as a predictor?
            # Split up metrics by capacity per age specific population
            
    # Ethnicities?
        # Can easily get rough populations. Break into different metric for each ethnicity?
        # Multiply neighborhood pop by ethnicity proportion to get 'programs per capita for white/black residents'
        
        
    # Need a lot of dummy variables

In [26]:
data = pd.get_dummies(data)
data

,Total Programs,Total Capacity,Average Max Age,Average Capacity,population,income,latinos,blacks,white,asian,...,Category Name_Performance.,Category Name_Reading & Writing.,Category Name_Science,Category Name_Social Studies,Category Name_Sports + Wellness.,Category Name_Teaching,Category Name_Transportation,Category Name_Work + Career,Meeting Type_face_to_face,Meeting Type_online
0,14,210.0,7.928571,15.000000,51542,46198,0.494,0.040,0.292,0.144,...,0,0,0,0,0,0,0,0,1,0
1,1,99.0,99.000000,99.000000,51542,46198,0.494,0.040,0.292,0.144,...,0,0,0,0,0,0,0,0,1,0
2,5,3930.0,18.600000,786.000000,51542,46198,0.494,0.040,0.292,0.144,...,0,0,0,0,0,0,0,0,1,0
3,2,20.0,99.000000,10.000000,51542,46198,0.494,0.040,0.292,0.144,...,0,0,0,0,0,0,0,0,1,0
4,187,38557.0,51.443850,206.187166,51542,46198,0.494,0.040,0.292,0.144,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,4,1012.0,12.000000,253.000000,23740,27413,0.021,0.868,0.068,0.023,...,0,0,1,0,0,0,0,0,1,0
1561,1,18.0,99.000000,18.000000,23740,27413,0.021,0.868,0.068,0.023,...,0,0,1,0,0,0,0,0,0,1
1562,281,4999.0,52.345196,17.790036,23740,27413,0.021,0.868,0.068,0.023,...,0,0,0,0,1,0,0,0,1,0
1563,23,332.0,55.869565,14.434783,23740,27413,0.021,0.868,0.068,0.023,...,0,0,0,0,1,0,0,0,0,1
1564,2,0.0,24.000000,0.000000,23740,27413,0.021,0.868,0.068,0.023,...,0,0,0,0,0,0,0,1,0,1

In [27]:
data.isna().sum()

Total Programs                  0
Total Capacity                  0
Average Max Age                 0
Average Capacity                0
population                      0
                               ..
Category Name_Teaching          0
Category Name_Transportation    0
Category Name_Work + Career     0
Meeting Type_face_to_face       0
Meeting Type_online             0
Length: 116, dtype: int64

In [28]:
#Modeling ideas
from sklearn.linear_model import Lasso
data 

y = data['Capacity Per Capita']
X = data.drop('Capacity Per Capita', axis=1)

lasso = Lasso()
lasso.fit(X, y)

Lasso()

In [39]:
from sklearn.metrics import mean_squared_error
import numpy as np

#Lasso rmse
pred = lasso.predict(X)
pred[pred < 0] = 0

np.sqrt(mean_squared_error(y, pred))

69.897108126952

In [40]:
# Will need to create a test set